/* Main page css */

body,
.container-fluid,
.row {
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    font-family: Georgia, Didot, Constantia;
    /*font-family: "Times New Roman";*/
}

.top_line {
    height: 42px;
    background-color: #006bb3;
    float: left;
}

nav {
    margin-top: 10px;
}

nav a, .content_1 a {
    color: #ffffff;
    margin: 5px;
    font-size: 16px;
}

nav a:hover, .content_1 a:hover {
    text-decoration: none;
    color: darkgray;
}

.logo {
    background: url(../images/logo.png);
    background-size: 100% 100%;
    float: left;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 20;
    margin-top: 30px;
}

.logo img {
    height: 80px;
}

.content_1 {
    background: url(../images/bg.png);
    background-size: 100% 100%;
    min-height: 600px;
}

#main_content {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/layer_7.png) center;
    background-size: 100% 100%;
    height: 400px;
    border: 10px solid #B2C0CE;
    text-align: center;
}

.content_1 div h3 {
    margin-top: 100px;
    line-height: 30px;
}

.main_div {
    background: linear-gradient(rgba(24, 66, 108, 0.8), rgba(24, 66, 108, 0.8));
    position: absolute;
    z-index: 55;
    display: none;
    /*opacity: 0.5*/
}

input#round, button[type="submit"], button[type="button"], button[type="reset"], .upload_image {
    margin: 20px;
    min-width: 150px; /*same as the height*/
    height: 60px; /*same as the width*/
    background-color: #206FA7;
    border: 1px solid #206FA7; /*same colour as the background*/
    color: #fff;
    font-size: 1.6em;
    /*set the border-radius at half the size of the width and height*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /*give the button a small drop shadow*/
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .75);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .75);
    outline: none !important;
}

.upload_image {
    margin: 0;
    height: 40px;
    font-size: 1em;
}

#logout_button {
    margin: 20px;
    color: #fff;
    font-size: 1.6em;
}

/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#round:hover, button[type="submit"]:hover, button[type="reset"]:hover, button[type="button"]:hover, .upload_image:hover {
    background: #206FA7;
    border: 1px solid #206FA7;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
}

/*.content_1 a {*/
/*margin-top: 30px*/
/*}*/

.content_2 {
    text-align: center;
    color: #206FA7;
}

.content_2 h2 {
    margin-top: 50px;
    font-weight: bold;
}

.content_2 img {
    height: 200px;
    margin-top: 30px;
    -webkit-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
}

.content_2 img:hover {
    margin-top: 10px;
    /*-webkit-transform: rotateZ(60deg); !* Safari *!*/
    /*transform: rotateZ(60deg);*/
}

.brands {
    width: 100%;
    background: url(../images/brands.png);
    background-size: 100% 100%;
    height: 52px;
    margin-bottom: 50px;
}

.footer_line {
    background: #02547A;
    height: 75px;
    text-align: center;
}

.footer_line p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 25px
}

/* Login page css */
.content_login {
    background: url(../images/bg.png);
    background-size: 100% 100%;
    /*min-height: 550px !important;*/
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px solid #B2C0CE;
    height: 40px;
}

textArea {
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border: 3px solid #B2C0CE !important;
    min-height: 150px !important;
    resize: none !important;
    margin-top: 15px !important;

}

.login_form {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/internet.jpg) center;
    background-size: 100% 100%;
    min-height: 400px;
    border: 10px solid #B2C0CE;
    text-align: center;
}

.login_form h1 {
    margin-top: 100px
}

/* Free Page */

.free_page input {
    margin-top: 15px;
}

/* Css Animate effects*/
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-150px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(250px, 0, 0);
    }
}

.bounceOutLeft {
    animation-name: bounceOutLeft;
}

.bounceInLeft {
    animation-name: bounceInLeft;
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(150px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.bounceInRight {
    animation-name: bounceInRight;
    margin-top: 0px !important;
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -500px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

.bounceInDown {
    animation-name: bounceInDown;
    display: inline-table;
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 500px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
    display: inline-table;
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInUp {
    animation-name: zoomInUp;
    display: inline-table;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

/*Preview free page*/
.div {
    /*width: 40%;*/
    min-height: 600px;
    position: absolute;
    z-index: 99;
    /*margin-top:-20px;*/
    /*margin:0 auto;*/
    /*margin-left: 30%;*/
    display: none;
}

.close_button {
    color: rgba(24, 66, 108, 0.5);
    margin: 0 -10px 0 0;
}

.div p, .div span, .div h2, .div h3 {
    color: black;
    font-size: 16px;
}

.div h3 {
    text-align: center;
    font-size: 30px;
}

.div h2 {
    margin-left: 17%;
    font-size: 35px;
}

.div div div:first-child p {
    text-align: left;
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px;
}

.div div div p span {
    /*text-align: center;*/
    /*margin-left: 30%;*/
    font-weight: 200;
    font-size: 18px;
    margin-left: 10px;
}

.oneTr {
    background: #fff;
    padding: 5px 0;
}

.tooTr {
    background: #eee;
    padding: 5px 0;
}

input.ng-invalid-minlength,
input.ng-invalid-maxlength,
input.ng-invalid-pattern,
input.ng-invalid-email {
    border: 3px solid red;
    background: white url(../images/noCheck.png) no-repeat 99% center;
}

input.ng-valid {
    border: 3px solid green;
    background: white url(../images/Check.png) no-repeat right center;
}

#gender {
    float: left !important;
    /*padding: 21px !important;*/
    /*padding-left: 0 !important;*/
    color: #fff !important;
}

input[type="radio"] {
    display: none;
}

#preview {
    margin-left: 0;
}

input[type="radio"] + i:before {
    content: url(../images/unchecked_button_2.png);
    margin: -10px -5px 0 0;
    float: left;
}

input[type="radio"]:checked + i:before {
    content: url(../images/checked_button_2.png);
    margin: -10px -5px 0 0;
    float: left;
}

/* only to get the list vertical */
.free_page > label {
    display: block
}

.flipbook-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.flipbook-viewport .container {
    margin: 10px auto;
}

.flipbook-viewport .page {
    width: 300px;
    height: 500px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

main {
    width: 100%;
    padding: 50px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 1);
}

/*main input {*/
/*display: none;*/
/*}*/

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #B2C0CE;
    min-height: 200px;
    overflow: hidden;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    color: #006BB3;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='0']:before {
    content: "\f0c5";
}

label[for*='1']:before {
    content: "\f129";
}

label[for*='2']:before {
    content: "\f02d";
}

label[for*='3']:before {
    content: "\f108";
}

label[for*='4']:before {
    content: "\f0ad";
}

label:hover {
    color: #02547A;
    cursor: pointer;
}

input:checked + label {
    color: #02547A;
    border-right: 1px solid #B2C0CE;
    border-left: 1px solid #B2C0CE;
    border-top: 3px solid #02547A;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #fff;
}

#tab0:checked ~ #content0,
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

.templates {
    width: 220px;
    height: 300px;
    /*border: 1px solid #B2C0CE;*/
    margin: 0 50px 30px 0;
    float: left;
    padding: 5px;
    border-radius: 3px;
    color:black;
}

#template_1 {
    background-image: url(../images/1.png);
    background-size: cover;
}

#template_1:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/1.png);
    background-size: cover;
}

#template_2 {
    background-image: url(../images/6.png);
    background-size: cover;
}

#template_2:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/6.png);
    background-size: cover;
}

#template_3 {
    background-image: url(../images/9.png);
    background-size: cover;
}

#template_3:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/9.png);
    background-size: cover;
}

#template_4 {
    background-image: url(../images/2.png);
    background-size: cover;
}

#template_4:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/2.png);
    background-size: cover;
}

#template_5 {
    background-image: url(../images/3.png);
    background-size: cover;
}

#template_5:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/3.png);
    background-size: cover;
}

#template_6 {
    background-image: url(../images/4.png);
    background-size: cover;
}

#template_6:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/4.png);
    background-size: cover;
}

#template_7 {
    background-image: url(../images/5.png);
    background-size: cover;
}

#template_7:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/5.png);
    background-size: cover;
}

#template_8 {
    background-image: url(../images/7.png);
    background-size: cover;
}

#template_8:hover {
    background: linear-gradient(rgba(24, 66, 108, 0.5), rgba(24, 66, 108, 0.5)), url(../images/7.png);
    background-size: cover;
}

.main-template {
    width: 100% !important;
    background: white;
    /*min-height: 550px !important;*/
    height:auto;
    padding: 0 !important;
}

.templates div {
    min-height: 150px;
    overflow: hidden;
}

.templates img {
    width: 50px;
    height: 50px;
}

.cv_parts {
    text-align: center;
}

.cv_parts_2 span, .cv_parts_3 span {
    font-size: 14px !important;
}

.profile_image {
    width: 250px !important;
    height: 250px !important;
    margin-left: 5% !important;
    padding: 5px;
}

.title {
    font-size: 30px;
}

span .title:first-child {
    margin-left: 40px;
}

.color_blue {
    color: #26b9de !important;
}

.bold_font {
    font-weight: bold
}

.center_align {
    text-align: center;
}

.lang {
    padding: 15px 15px 0 0;
}

.langRange img, .langRange2 img, .langRange3 img,
.softRange img, .softRange2 img, .softRange3 img{
    width: 150px !important;
    height: 20px !important;
    margin-top: 5px;
}

.langRange {
    margin-left: 0 !important;
}

.addEntryEducation, .addEntryWork,.addEntryLanguage, .addEntrySoftware{
    padding:5px;
    float:right;
    color:white;
    border-radius: 25px;
    background: #206FA7;
    border: 1px solid #206FA7;
    cursor: pointer;
    margin-top:10px;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

@media screen and (max-width: 769px) {
    .logo img {
        height: 40px;
    }
}

.tpl_2_header{
    height: 150px;
    margin: 0 auto;
    background: url(../images/tpl_2_3.png);
    background-size: 100% 100%;
}
article{
    min-height: 600px;
    margin: 0 auto;
}
.tpl_2_footer{
    min-height: 50px!important;
    margin: 0 auto;
    background: url(../images/tpl_2_4.png);
    background-size: 100% 100%;
}
.div tr td{
    min-height: 200px;
}
.contentWork{
    min-height: 330px;
}
.contentSkill{
    min-height: 130px;
    margin-top: 5px;
}
.nameBlock{
    font-size: 1.2vw;
    font-weight: bold;
    color: #525252;
}
.iconki{
    width: 25px;
    margin-top: 5px;
}
.divIcon{
    text-align: center;
}
.textIcon{
    font-size: 1vw;
}