    <div class="tpl_2_header">
        <h1 style="text-align: center;margin-top: 20px">
            <span class="firstName title" style="font-size: 40px;"></span>&nbsp;&nbsp;
            <span class="lastName title" style="font-size: 40px;"></span>
        </h1>
    </div>
    <article>
        <table style="margin:20px 50px">
            <tr>
                <td class="col-xs-6">
                    <p class="nameBlock"><%= global.lang.work %></p>
                    <div class="contentWork">
                        <span class="bold_font workTitle"></span>
                    <span class="pull-right"><span class="workStart"></span> - <span
                    class="workEnd"></span></span>
                        <p class="workCompany"></p>
                        <p class="workInfo"></p>
                    </div>
                </td>
                <td class="col-xs-6">
                    <p class="nameBlock"><%= global.lang.skills %></p>
                    <div class="contentSkill">
                        <div class="col-xs-12 cv_parts_2">
                            <p style="margin-left: 0"><span class="software"></span><span class="softRange pull-right"></span></p>
                            <p style="margin-left: 0"><span class="software2"></span><span class="softRange2 pull-right"></span></p>
                            <p style="margin-left: 0"><span class="software3"></span><span class="softRange3 pull-right"></span></p>
                        </div>
                        <div class="col-xs-12 cv_parts_3">
                            <p><span class="language"></span><span class="langRange pull-right"></span></p>
                            <p><span class="language2"></span><span class="langRange2 pull-right"></span></p>
                            <p><span class="language3"></span><span class="langRange3 pull-right"></span></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-xs-6">
                    <p class="nameBlock"><%= global.lang.education %></p>
                    <div class="contentSkill">
                        <span class="bold_font eduCourse"></span>
                    <span class="pull-right"><span class="eduStart"></span> - <span
                    class="eduEnd"></span></span>
                        <p class="eduInstitution">GPMI Gyumri</p>
                        <p class="eduInfo"></p>
                    </div>
                </td>
                <td class="col-xs-6">
                    <p class="nameBlock"><%= global.lang.hobby %></p>
                    <div class="contentSkill">
                        <div class="col-xs-12">
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Traveling.png" class="iconki" alt="Traveling"/>
                                <p class="textIcon">Traveling</p>
                            </div>
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Networking.png" class="iconki" alt="Networking"/>
                                <p class="textIcon">Networking</p>
                            </div>
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Art.png" class="iconki" alt="Art"/>
                                <p class="textIcon">Art</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Sport.png" class="iconki" alt="Sport"/>
                                <p class="textIcon">Sport</p>
                            </div>
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Music.png" class="iconki" alt="Music"/>
                                <p class="textIcon">Music</p>
                            </div>
                            <div class="col-xs-4 divIcon">
                                <img src="/images/Hiking.png" class="iconki" alt="Hiking"/>
                                <p class="textIcon">Hiking</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </article>
    <div class="tpl_2_footer" style="text-align: center">
        <span class="address" style="margin:10px 30px 0 0"></span>
        <span class="phone" style="margin:10px 30px 0 0"></span>
        <span class="email"></span>
    </div>