<div class="tpl_3_header">
    <div style="width: 157px; height: 157px; border-radius: 90px; display: block; margin: 44px auto; position: absolute; margin-left: 39.5%; clip: rect(0px,157px,134px,0px);">
        <img src=" /images/papskok.png" class="profile_image" id="profile_image" style="width: 178px; height: 178px;" />
    </div>
    <div style="display: block; margin: 0 auto; width: 395px; min-height: 53px; margin-top: 22%">
        <h1 style="text-align: center;margin-top: 7px">
            <span class="firstName title" style="font-size: 40px;"></span>&nbsp;&nbsp;
            <span class="lastName title" style="font-size: 40px;"></span>
        </h1>
    </div>
</div>
<article>
    <table style="margin:20px 50px">
        <tr>
            <td class="col-xs-12" style="float:left">
                <img class="iconHeader" src=" /images/WorkExperience.png" alt="WorkExperience"/>
                <p class="nameBlock"><%= global.lang.work %></p>
                <div class="contentWork" style="min-height: 100px;">
                    <span class="bold_font workTitle"></span>
        <span class="color_yellow pull-right"><span class="workStart color_yellow"></span> - <span
                    class="workEnd color_yellow"></span></span>
                    <p class="color_yellow workCompany"></p>
                    <p class="workInfo"></p>
                    <span class="bold_font workTitle2"></span>
        <span class="color_yellow pull-right"><span class="workStart2 color_yellow"></span> - <span
                    class="workEnd2 color_yellow"></span></span>
                    <p class="color_yellow workCompany2"></p>
                    <p class="workInfo"></p>
                </div>
            </td>
            <td class="col-xs-6">
                <img class="iconHeader" src=" /images/Education.png" alt="Education"/>
                <p class="nameBlock"><%= global.lang.education %></p>
                <div class="contentProfile" style="min-height: 100px;">
                    <span class="bold_font eduCourse"></span>
        <span class="color_yellow pull-right"><span class="eduStart color_yellow"></span> - <span
                    class="eduEnd color_yellow"></span></span>
                    <p class="color_yellow eduInstitution">GPMI Gyumri</p>
                    <p class="eduInfo"></p>
                    <span class="bold_font eduCourse2"></span>
        <span class="color_yellow pull-right"><span class="eduStart2 color_yellow"></span> - <span
                    class="eduEnd2 color_yellow"></span></span>
                    <p class="color_yellow eduInstitution2">GPMI Gyumri</p>
                    <p class="eduInfo2"></p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-xs-6">
                <img class="iconHeader" src=" /images/Skillss.png" alt="Skills"/>
                <p class="nameBlock"><%= global.lang.skills %></p>
                <div class="contentProfile">
                    <div class="col-xs-12 cv_parts_2">
                        <p style="margin-left: 0"><span class="software"></span><span class="softRange pull-right"></span></p>
                        <p style="margin-left: 0"><span class="software2"></span><span class="softRange2 pull-right"></span></p>
                        <p style="margin-left: 0"><span class="software3"></span><span class="softRange3 pull-right"></span></p>
                    </div>
                    <div class="col-xs-12 cv_parts_3">
                        <p><span class="language"></span><span class="langRange pull-right"></span></p>
                        <p><span class="language2"></span><span class="langRange2 pull-right"></span></p>
                        <p><span class="language3"></span><span class="langRange3 pull-right"></span></p>
                    </div>
                </div>
            </td>
            <td class="col-xs-6">
                <img class="iconHeader" src=" /images/Hobbiess.png" alt="Hobbies"/>
                <p class="nameBlock"><%= global.lang.hobby %></p>
                <div class="contentProfile">
                    <div class="col-xs-12">
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Traveling.png" class="iconki" alt="Traveling"/>
                            <p class="textIcon">Traveling</p>
                        </div>
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Networking.png" class="iconki" alt="Networking"/>
                            <p class="textIcon">Networking</p>
                        </div>
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Art.png" class="iconki" alt="Art"/>
                            <p class="textIcon">Art</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Sport.png" class="iconki" alt="Sport"/>
                            <p class="textIcon">Sport</p>
                        </div>
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Music.png" class="iconki" alt="Music"/>
                            <p class="textIcon">Music</p>
                        </div>
                        <div class="col-xs-4 divIcon">
                            <img src=" /images/Hiking.png" class="iconki" alt="Hiking"/>
                            <p class="textIcon">Hiking</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</article>