<!DOCTYPE html>
<html lang="en">
<%- partial('../partials/head.ejs') %>
<body>
<div class="container-fluid">
    <div class="row">
        <%- partial('../partials/header.ejs') %>
        <%- body %>
        <%- partial('../partials/footer.ejs') %>
    </div>
</div>
</body>
</html>